<h2>Вітаємо!</h2>
<p>Ви підписалися на оновлення погоди для міста
  <strong>{{city}}</strong>
  з частотою
  <strong>{{frequency}}</strong>.</p>
<p>Будь ласка, підтвердіть підписку, перейшовши за посиланням:</p>
<a href='{{confirmLink}}'>Підтвердити підписку</a>
<hr />